
general/__pycache__/__init__.cpython-310.pyc

general/__pycache__/admin.cpython-310.pyc

general/__pycache__/apps.cpython-310.pyc

general/__pycache__/forms.cpython-310.pyc

general/__pycache__/models.cpython-310.pyc

general/__pycache__/urls.cpython-310.pyc

general/__pycache__/views.cpython-310.pyc

general/migrations/__pycache__/__init__.cpython-310.pyc

general/migrations/__pycache__/0001_initial.cpython-310.pyc

secretaria/__pycache__/__init__.cpython-310.pyc

secretaria/__pycache__/settings.cpython-310.pyc

secretaria/__pycache__/urls.cpython-310.pyc

sistema/__pycache__/__init__.cpython-310.pyc

sistema/__pycache__/admin.cpython-310.pyc

sistema/__pycache__/apps.cpython-310.pyc

sistema/__pycache__/models.cpython-310.pyc

sistema/__pycache__/urls.cpython-310.pyc

sistema/__pycache__/views.cpython-310.pyc

sistema/migrations/__pycache__/__init__.cpython-310.pyc

sistema/migrations/__pycache__/0001_initial.cpython-310.pyc

sistema/migrations/__pycache__/0002_ayuda_icon.cpython-310.pyc

sistema/migrations/__pycache__/0003_menugrupo_icon.cpython-310.pyc

ticket/__pycache__/__init__.cpython-310.pyc

ticket/__pycache__/admin.cpython-310.pyc

ticket/__pycache__/apps.cpython-310.pyc

ticket/__pycache__/forms.cpython-310.pyc

ticket/__pycache__/models.cpython-310.pyc

ticket/__pycache__/urls.cpython-310.pyc

ticket/__pycache__/views.cpython-310.pyc

ticket/migrations/__pycache__/__init__.cpython-310.pyc

ticket/migrations/__pycache__/0001_initial.cpython-310.pyc

ticket/migrations/__pycache__/0002_ticket_tema_ayuda_detalle.cpython-310.pyc

ticket/migrations/__pycache__/0003_alter_ticket_area_alter_ticket_estado_and_more.cpython-310.pyc

ticket/migrations/__pycache__/0004_alter_ticket_usuario_solicitante.cpython-310.pyc

ticket/migrations/__pycache__/0005_alter_ticket_nivel_servicio.cpython-310.pyc

ticket/migrations/__pycache__/0006_alter_ticket_usuario_solicitante.cpython-310.pyc

ticket/migrations/__pycache__/0007_ticket_usuario_solicitante_temp_and_more.cpython-310.pyc

ticket/migrations/__pycache__/0008_ticket_accionaplicada_ticket_causaraiz.cpython-310.pyc

ticket/migrations/__pycache__/0009_ticketmovimiento.cpython-310.pyc

ticket/migrations/__pycache__/0010_ticketrasferir.cpython-310.pyc

ticket/migrations/__pycache__/0011_rename_ticketrasferir_ticketransferencias.cpython-310.pyc

ticket/migrations/__pycache__/0012_estadoticket_color.cpython-310.pyc

ticket/migrations/__pycache__/0013_alter_estadoticket_color.cpython-310.pyc

ticket/migrations/__pycache__/0014_remove_estadoticket_color.cpython-310.pyc

ticket/migrations/__pycache__/0015_estadoticket_color.cpython-310.pyc

ticket/migrations/__pycache__/0016_estadoticket_destacado.cpython-310.pyc

ticket/migrations/__pycache__/0017_estadoticket_datalucide.cpython-310.pyc

ticket/migrations/__pycache__/0018_alter_estadoticket_datalucide.cpython-310.pyc
