{% load static %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" class="opacity-0" lang="en"><!-- BEGIN: Head -->
<head>
    <meta charset="utf-8">
    <title>Secretaria</title>
    <!-- BEGIN: CSS Assets-->
    <link rel="stylesheet" href="{% static 'dist/css/vendors/litepicker.css' %}">
    <link rel="stylesheet" href="{% static 'dist/css/vendors/tiny-slider.css' %}">
    <link rel="stylesheet" href="{% static 'dist/css/vendors/tippy.css' %}">
    <link rel="stylesheet" href="{% static 'dist/css/vendors/simplebar.css' %}">
    <link rel="stylesheet" href="{% static 'dist/css/themes/echo.css' %}">
    <link rel="stylesheet" href="{% static 'dist/css/app.css' %}">
    <!-- END: CSS Assets-->
</head>
<!-- END: Head -->
<body>
    <div class="echo group bg-gradient-to-b from-slate-200/70 to-slate-50 background relative min-h-screen before:content-[''] before:h-[370px] before:w-screen before:bg-gradient-to-t before:from-theme-1/80 before:to-theme-2 [&.background--hidden]:before:opacity-0 before:transition-[opacity,height] before:ease-in-out before:duration-300 before:top-0 before:fixed after:content-[''] after:h-[370px] after:w-screen [&.background--hidden]:after:opacity-0 after:transition-[opacity,height] after:ease-in-out after:duration-300 after:top-0 after:fixed after:bg-texture-white after:bg-contain after:bg-fixed after:bg-[center_-13rem] after:bg-no-repeat">
        <div class="[&.loading-page--before-hide]:h-screen [&.loading-page--before-hide]:relative loading-page loading-page--before-hide [&.loading-page--before-hide]:before:block [&.loading-page--hide]:before:opacity-0 before:content-[''] before:transition-opacity before:duration-300 before:hidden before:inset-0 before:h-screen before:w-screen before:fixed before:bg-gradient-to-b before:from-theme-1 before:to-theme-2 before:z-[60] [&.loading-page--before-hide]:after:block [&.loading-page--hide]:after:opacity-0 after:content-[''] after:transition-opacity after:duration-300 after:hidden after:h-16 after:w-16 after:animate-pulse after:fixed after:opacity-50 after:inset-0 after:m-auto after:bg-loading-puff after:bg-cover after:z-[61]">
            <div class="side-menu xl:ml-0 shadow-xl transition-[margin,padding] duration-300 xl:shadow-none fixed top-0 left-0 z-50 group inset-y-0 xl:py-3.5 xl:pl-3.5 after:content-[''] after:fixed after:inset-0 after:bg-black/80 after:xl:hidden side-menu--collapsed [&.side-menu--mobile-menu-open]:ml-0 [&.side-menu--mobile-menu-open]:after:block -ml-[275px] after:hidden">
                <div class="close-mobile-menu fixed ml-[275px] w-10 h-10 items-center justify-center xl:hidden z-50 [&.close-mobile-menu--mobile-menu-open]:flex hidden">
                    <a class="ml-5 mt-5" href="">
                        <i data-tw-merge="" data-lucide="x" class="stroke-[1] h-8 w-8 text-white"></i>
                    </a>
                </div>
                <!-- INICIO: LATERAL IZQUIERDO -->
                {% include "menu.html" %}
                <!-- FIN: LATERAL IZQUIERDO -->

                <!-- INICIO: MENU SUPERIOR -->
                {% include "navbar.html" %}
                <!-- FIN: MENU SUPERIOR -->
            </div>
            <!-- INICIO: CUERPO -->
            {% block main %}

            {% endblock %}
            <!-- FIN: CUERPO -->


        </div>
    </div>
    <!-- BEGIN: Vendor JS Assets-->
    <script src="{% static 'dist/js/vendors/dom.js' %}"></script>
    <script src="{% static 'dist/js/vendors/tailwind-merge.js' %}"></script>
    <script src="{% static 'dist/js/vendors/lucide.js' %}"></script>
    <script src="{% static 'dist/js/vendors/dayjs.js' %}"></script>
    <script src="{% static 'dist/js/vendors/litepicker.js' %}"></script>
    <script src="{% static 'dist/js/vendors/tiny-slider.js' %}"></script>
    <script src="{% static 'dist/js/vendors/popper.js' %}"></script>
    <script src="{% static 'dist/js/vendors/dropdown.js' %}"></script>
    <script src="{% static 'dist/js/vendors/tippy.js' %}"></script>
    <script src="{% static 'dist/js/vendors/simplebar.js' %}"></script>
    <script src="{% static 'dist/js/vendors/transition.js' %}"></script>
    <script src="{% static 'dist/js/vendors/chartjs.js' %}"></script>
    <script src="{% static 'dist/js/vendors/modal.js' %}"></script>
    <script src="{% static 'dist/js/components/base/theme-color.js' %}"></script>
    <script src="{% static 'dist/js/components/base/lucide.js' %}"></script>
    <script src="{% static 'dist/js/components/base/litepicker.js' %}"></script>
    <script src="{% static 'dist/js/components/base/tiny-slider.js' %}"></script>
    <script src="{% static 'dist/js/utils/colors.js' %}"></script>
    <script src="{% static 'dist/js/utils/helper.js' %}"></script>
    <script src="{% static 'dist/js/components/report-line-chart.js' %}"></script>
    <script src="{% static 'dist/js/components/report-donut-chart-3.js' %}"></script>
    <script src="{% static 'dist/js/components/base/tippy.js' %}"></script>
    <script src="{% static 'dist/js/themes/echo.js' %}"></script>
    <script src="{% static 'dist/js/components/quick-search.js' %}"></script> <!-- END: Vendor JS Assets-->
    <!-- BEGIN: Pages, layouts, components JS Assets-->
    <!-- END: Pages, layouts, components JS Assets-->
</body>
</html>